.draggable
{
	position: absolute;
	cursor: move;
	z-index: 1;
}

.connector
{
	background-color: black;
}

.dock_point
{
	height: 1px;
	width: 1px;
	overflow: hidden;
	padding: 0px !important;
	border: none !important;
	margin: 0px !important;
	position: absolute;
	font-size: 1px;
	visibility: hidden;
}

/* js-graph-it.js流程图样式 */
.canvas 
{
  font-family: tahoma;
}
.block {
  position: absolute;
  border: 1px solid #7DAB76;
  background-color: #BAFFB0;
  padding: 3px;
}
.connector {
  background-color: #FF9900;
}
.source-label, .middle-label, .destination-label {
  padding: 5px;
}
      
a:link { text-decoration: none;color: blue}
a:active { text-decoration:blink}
a:hover { text-decoration:underline;color: red}
a:visited { text-decoration: none;color: green}
