<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.translog.mapper.LogTransMapper">



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          LOG_TRANS_ID AS logTransId
        , TRANS_CONFIG_ID AS transConfigId
        , CHANNEL_ID AS channelId
        , TRANSNAME AS transname
        , STATUS AS status
        , LINES_READ AS linesRead
        , LINES_WRITTEN AS linesWritten
        , LINES_UPDATED AS linesUpdated
        , LINES_INPUT AS linesInput
        , LINES_OUTPUT AS linesOutput
        , LINES_REJECTED AS linesRejected
        , ERRORS AS errors
        , STARTDATE AS startdate
        , ENDDATE AS enddate
        , LOGDATE AS logdate
        , DEPDATE AS depdate
        , REPLAYDATE AS replaydate
        , LOG_FIELD AS logField
        , EXECUTING_SERVER AS executingServer
        , EXECUTING_USER AS executingUser
        , EXCUTOR_TYPE AS excutorType
        , LOGINFO AS loginfo
        , TRANS_CN_NAME AS transCnName
    </sql>

</mapper>
