<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.translog.mapper.LogTransMapper">



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.LOG_TRANS_ID AS logTransId
        , a.TRANS_CONFIG_ID AS transConfigId
        , a.CHANNEL_ID AS channelId
        , a.TRANSNAME AS transname
        , a.STATUS AS status
        , a.LINES_READ AS linesRead
        , a.LINES_WRITTEN AS linesWritten
        , a.LINES_UPDATED AS linesUpdated
        , a.LINES_INPUT AS linesInput
        , a.LINES_OUTPUT AS linesOutput
        , a.LINES_REJECTED AS linesRejected
        , a.ERRORS AS errors
        , a.STARTDATE AS startdate
        , a.ENDDATE AS enddate
        , a.LOGDATE AS logdate
        , a.DEPDATE AS depdate
        , a.REPLAYDATE AS replaydate
        , a.LOG_FIELD AS logField
        , a.EXECUTING_SERVER AS executingServer
        , a.EXECUTING_USER AS executingUser
        , a.EXCUTOR_TYPE AS excutorType
        , a.LOGINFO AS loginfo
        , a.TRANS_CN_NAME AS transCnName
        , a.QRTZ_JOB_NAME AS qrtzJobName
        , a.QRTZ_JOB_GROUP AS qrtzJobGroup
    </sql>



</mapper>
