<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.schedule.mapper.GroupMapper">



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          ID_GROUP AS groupId
        , ORGANIZER_ID AS organizerId
        , GROUP_NAME AS groupName
        , DESCRIPTION AS description
        , CREATE_USER AS createUser
        , UPDATE_USER AS updateUser
        , CREATE_TIME AS createTime
        , UPDATE_TIME AS updateTime
        , DEL_FLAG AS delFlag
    </sql>

    <select id="findList"  resultType="com.aofei.schedule.entity.Group">
        select
        <include refid="Base_Column_List"/>
        from QRTZ_GROUP a
        <where>
            a.DEL_FLAG = 0
            <if test="organizerId !=null ">
                AND  a.ORGANIZER_ID  = #{organizerId}
            </if>
        </where>
    </select>

</mapper>
