<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.schedule.mapper.MonitorMapper">


    <select id="findList"  resultType="com.aofei.schedule.entity.Monitor">
        SELECT
            a.ID AS id,
            a.QRTZ_JOB_NAME AS qrtzJobName,
            a.QRTZ_JOB_GROUP AS qrtzJobGroup,
            gp.GROUP_NAME AS qrtzJobGroupName,
            a.STARTDATE AS startdate,
            a.ENDDATE AS enddate,
            a.STATUS AS status,
            a.ERRORS AS errors,
            a.FILE_TYPE AS fileType
        FROM (
          SELECT
            LOG_TRANS_ID AS ID,
            QRTZ_JOB_NAME,
            QRTZ_JOB_GROUP,
            STARTDATE,
            ENDDATE,
            STATUS,
            ERRORS,
            "TRANSFORMATION" AS FILE_TYPE
          FROM LOG_TRANS
            UNION
          SELECT
            LOG_JOB_ID AS ID,
            QRTZ_JOB_NAME,
            QRTZ_JOB_GROUP,
            STARTDATE,
            ENDDATE,
            STATUS,
            ERRORS,
            "JOB" AS FILE_TYPE
          FROM LOG_JOB
        ) a

          join QRTZ_GROUP gp on gp.DEL_FLAG =0 and gp.ID_GROUP = a.QRTZ_JOB_GROUP


        <where>

            <if test="organizerId != null ">
                AND gp.ORGANIZER_ID = #{organizerId}
            </if>

            <if test="qrtzJobGroup != null and qrtzJobGroup!='' ">
                AND  a.QRTZ_JOB_GROUP = #{qrtzJobGroup}
            </if>

            <if test="qrtzJobName != null and qrtzJobName!='' ">
                AND  a.QRTZ_JOB_NAME  like '%${qrtzJobName}%'
            </if>
        </where>
    </select>


</mapper>
