.body {
	scrollbar-face-color: #e5f3fc;
	scrollbar-highlight-color: #79abcf;
	scrollbar-shadow-color: #4b7c9f;
	scrollbar-3dlight-color: #f0f9ff;
	scrollbar-arrow-color: #000000;
	scrollbar-track-color: #e9f5fd;
	scrollbar-darkshadow-color: #e7f5fe;
	margin: 0px;
	padding: 0px;
	scroll: no;
	overflow: hidden;
	font-size: 12px;
}

.input-box {
	width: 150px;
	height: 20px;
}
.button-buttonbar-noimage {
	background-color: #F7F7F7;
	border: 1px solid #A1ACB9;
	cursor: pointer;
	font-size: 12px;
	height: 22px;
	padding: 2px 0px 0px 2px;
}
.hd {
	background-color: #D6E7F7;
	font-size: 100%;
	line-height: 100%;
	font-weight: bold;
	overflow: hidden;
	padding: 6px;
	height: 25px;
}