<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.mdm.mapper.ModelMapper">



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.ID_MODEL AS modelId
        , a.MODEL_NAME AS modelName
        , a.MODEL_DESC AS modelDesc
        , a.MODEL_STATUS AS modelStatus
        , a.MODEL_AUTHOR AS modelAuthor
        , a.MODEL_NOTE AS modelNote
        , a.MODEL_CODE AS modelCode
        , a.ORGANIZER_ID AS organizerId
        , b.ORGANIZER_NAME AS organizerName
        , a.CREATE_USER AS createUser
        , a.UPDATE_USER AS updateUser
        , a.CREATE_TIME AS createTime
        , a.UPDATE_TIME AS updateTime
        , a.DEL_FLAG AS delFlag
    </sql>

    <sql id="Base_Joins">
        LEFT JOIN SYS_ORGANIZER b ON b.ORGANIZER_ID = a.ORGANIZER_ID
    </sql>


    <select id="findList"  resultType="com.aofei.mdm.entity.Model">
        select
        <include refid="Base_Column_List"/>
        from MDM_MODEL a
        <include refid="Base_Joins"/>
        <where>
            a.DEL_FLAG = 0
            <if test="organizerId !=null  ">
                AND  a.ORGANIZER_ID  = #{organizerId}
            </if>
            <if test="modelName !=null and modelName !='' ">
                AND  a.MODEL_NAME  like '%${modelName}%'
            </if>
        </where>
    </select>

    <update id="updateById">
        update MDM_MODEL a
        <set>
              a.MODEL_NAME  = #{et.modelName}
            , a.MODEL_DESC  = #{et.modelDesc}
            , a.MODEL_STATUS = #{et.modelStatus}
            , a.MODEL_AUTHOR = #{et.modelAuthor}
            , a.MODEL_NOTE = #{et.modelNote}
            , a.MODEL_CODE = #{et.modelCode}
            , a.UPDATE_USER = #{et.updateUser}
            , a.UPDATE_TIME = #{et.updateTime}
        </set>
        where a.ID_MODEL = #{et.modelId}
    </update>


    <update id="deleteById">
        update MDM_MODEL a set a.DEL_FLAG = 1  where a.ID_MODEL = #{id}
    </update>
</mapper>
