<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-3.0.xsd
   http://www.springframework.org/schema/jee 
   http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
   http://www.springframework.org/schema/tx 
   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	
	<!-- 属性文件读入 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/jdbc.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />		
	</bean>
	
	<!-- 数据源定义,使用c3p0 连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClassName}" />	
		<property name="jdbcUrl" value="${jdbc.url}" />	
		<property name="user" value="${jdbc.username}" />	
		<property name="password" value="${jdbc.password}" />		
		<property name="initialPoolSize" value="${cpool.minPoolSize}"/>	
		<property name="minPoolSize" value="${cpool.minPoolSize}" />	
		<property name="maxPoolSize" value="${cpool.maxPoolSize}" />	
		<property name="acquireIncrement" value="${cpool.acquireIncrement}" /> 
	    <property name="maxIdleTime" value="${cpool.maxIdleTime}"/>   
	</bean>


  <!--    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
          <constructor-arg ref="dataSource"></constructor-arg>
    </bean>-->
    
    <!-- 将连接池注入 jdbcTemplate -->
      <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
          <property name="dataSource" ref="dataSource"></property>
      </bean>
      
      <bean id="connectionPoolTools" class="com.auphi.ktrl.schedule.tools.ConnectionPoolTools">
       <property name="jdbcTemplate">
          <ref bean="jdbcTemplate" />
       </property>
    </bean>
    
    
	<!-- 配置事务管理器，注意这里的dataSource和SqlSessionFactoryBean的dataSource要一致，不然事务就没有作用了 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- myBatis文件 -->
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="/WEB-INF/mybatis.xml"/>
	</bean>

	<bean id="kettleEnvironment" class="org.pentaho.di.core.KettleEnvironment" init-method="init"/>

	<bean id="databaseMeta" class="org.pentaho.di.core.database.DatabaseMeta">
		<!--<constructor-arg index="0" value="Kettle_MySQL"/>
		<constructor-arg index="1" value="mysql"/>
		<constructor-arg index="2" value="jdbc"/>
		<constructor-arg index="3" value="localhost"/>
		<constructor-arg index="4" value="zss_mis"/>
		<constructor-arg index="5" value="3306"/>
		<constructor-arg index="6" value="zhangfeng"/>
		<constructor-arg index="7" value="zhangfeng"/>-->
		
		<constructor-arg index="0" value="${Meta.kettle_db_type}"/>
		<constructor-arg index="1" value="${Meta.db_type}"/>
		<constructor-arg index="2" value="${Meta.db_drive_type}"/>
		<constructor-arg index="3" value="${Meta.db_ip}"/>
		<constructor-arg index="4" value="${Meta.db_name}"/>
		<constructor-arg index="5" value="${Meta.db_port}"/>
		<constructor-arg index="6" value="${Meta.db_user}"/>
		<constructor-arg index="7" value="${Meta.db_password}"/>
	</bean>
	
	
	<bean id="kettleDatabaseRepositoryMeta" class="com.auphi.data.hub.service.MyKettleDatabaseRepositoryMeta">
		<constructor-arg name="id" value="kettle"/>
		<constructor-arg name="name" value="kettle"/>
		<constructor-arg name="description" value="Transformation description"/>
		<constructor-arg name="connection" ref="databaseMeta" />
		
	</bean>
	
	<context:annotation-config />
	<context:component-scan base-package="com.auphi.data.hub.dao" />
	<context:component-scan base-package="com.auphi.data.hub.service" />
	<context:component-scan base-package="com.auphi.data.hub.core.idgenerator" />
	<context:component-scan base-package="com.auphi.data.hub"/>
	<context:component-scan base-package="com.auphi.ktrl.mdm.service" />
	<context:component-scan base-package="com.auphi.ktrl.mdm" />
	<context:component-scan base-package="com.auphi.ktrl.quality.*" />

		
	<import resource="applicationContext-jta.xml"/>
	<import resource="applicationContext-quartz.xml"/>	
	
	
</beans>