<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>auphi Application</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <filter>
    <description>字符集过滤器</description>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <description>字符集编码</description>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>requestFilter</filter-name>
    <filter-class>com.auphi.data.hub.listener.RequestInterceptor</filter-class>
    <init-param>
      <param-name>enabled</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <display-name>SessionFilter</display-name>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.auphi.ktrl.util.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.shtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestFilter</filter-name>
    <url-pattern>*.shtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.shtm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestFilter</filter-name>
    <url-pattern>*.shtm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>*.shtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <servlet-name>InitServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <servlet-name>MetadataServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <servlet-name>MonitorServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <servlet-name>RepositoryManagerServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <servlet-name>ResourceAuthServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <servlet-name>RoleManagerServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <servlet-name>ScheduleServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <servlet-name>DScheduleServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <servlet-name>FastConfigScheduleServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <servlet-name>UserManagerServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <servlet-name>HAManageServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <servlet-name>ServerManageServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <servlet-name>MailServlet</servlet-name>
  </filter-mapping>
  <listener>
    <description>spring监听器</description>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <description>Session监听器</description>
    <listener-class>com.auphi.data.hub.listener.SessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.auphi.data.hub.listener.SystemInitListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>website</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.util.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>MonitorServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.monitor.MonitorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScheduleServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.schedule.ScheduleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MetadataServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.metadata.MetadataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserManagerServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.system.user.UserManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RepositoryManagerServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.system.repository.RepositoryManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoleManagerServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.system.role.RoleManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResourceAuthServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.system.resourceAuth.ResourceAuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.system.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HAManageServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.ha.HAManageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MailServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.system.mail.MailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServerManageServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.ha.ServerManageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>FastConfigScheduleServlet</description>
    <display-name>FastConfigScheduleServlet</display-name>
    <servlet-name>FastConfigScheduleServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.schedule.FastConfigScheduleServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>TestDataServlet</display-name>
    <servlet-name>TestDataServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.schedule.TestDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DScheduleServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.schedule.DScheduleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.auphi.ktrl.system.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>website</servlet-name>
    <url-pattern>*.shtml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>website</servlet-name>
    <url-pattern>*.shtm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>website</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>MonitorServlet</servlet-name>
    <url-pattern>/monitor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScheduleServlet</servlet-name>
    <url-pattern>/schedule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MetadataServlet</servlet-name>
    <url-pattern>/metadata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManagerServlet</servlet-name>
    <url-pattern>/usermanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepositoryManagerServlet</servlet-name>
    <url-pattern>/repositorymanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleManagerServlet</servlet-name>
    <url-pattern>/rolemanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceAuthServlet</servlet-name>
    <url-pattern>/resourceauthmanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HAManageServlet</servlet-name>
    <url-pattern>/hamanage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/mail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServerManageServlet</servlet-name>
    <url-pattern>/servermanage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FastConfigScheduleServlet</servlet-name>
    <url-pattern>/FastConfigScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestDataServlet</servlet-name>
    <url-pattern>/TestDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DScheduleServlet</servlet-name>
    <url-pattern>/dschedule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/common/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/common/error/500.jsp</location>
  </error-page>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
</web-app>