<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.sys.mapper.RepositoryDatabaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aofei.sys.entity.RepositoryDatabase">
        <id column="REPOSITORY_CONNECTION_ID" property="repositoryConnectionId" />
        <result column="REPOSITORY_CONNECTION_NAME" property="repositoryConnectionName" />
        <result column="DATABASE_TYPE" property="databaseType" />
        <result column="DATABASE_CONTYPE_ID" property="databaseContypeId" />
        <result column="HOST_NAME" property="hostName" />
        <result column="DATABASE_NAME" property="databaseName" />
        <result column="PORT" property="port" />
        <result column="USERNAME" property="username" />
        <result column="PASSWORD" property="password" />
        <result column="SERVERNAME" property="servername" />
        <result column="DATA_TBS" property="dataTbs" />
        <result column="INDEX_TBS" property="indexTbs" />
        <result column="CREATE_USER_ID" property="createUserId" />
        <result column="UPDATE_USER_ID" property="updateUserId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="DEL_FLAG" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.REPOSITORY_CONNECTION_ID AS repositoryConnectionId
        , a.REPOSITORY_CONNECTION_NAME AS repositoryConnectionName
        , a.DATABASE_TYPE AS databaseType
        , a.DATABASE_CONTYPE AS databaseContype
        , a.HOST_NAME AS hostName
        , a.DATABASE_NAME AS databaseName
        , a.PORT AS port
        , a.USERNAME AS username
        , a.PASSWORD AS password
        , a.SERVERNAME AS servername
        , a.DATA_TBS AS dataTbs
        , a.INDEX_TBS AS indexTbs
        , a.CREATE_USER_ID AS createUserId
        , a.UPDATE_USER_ID AS updateUserId
        , a.CREATE_TIME AS createTime
        , a.UPDATE_TIME AS updateTime
        , a.DEL_FLAG AS delFlag
    </sql>
    <sql id="Base_Joins">

    </sql>

    <select id="findList"  resultType="com.aofei.sys.entity.RepositoryDatabase">
        select
        <include refid="Base_Column_List"/>
        from KDI_SYS_REPOSITORY_DATABASE a
        <include refid="Base_Joins"/>
        <where>
            a.DEL_FLAG = 0
            <if test="databaseType !=null and  databaseType!='' ">
                AND  a.DATABASE_TYPE  = #{databaseType}
            </if>
            <if test="databaseContype !=null and databaseContype != '' ">
                AND  a.DATABASE_CONTYPE = #{databaseContype}
            </if>
        </where>
    </select>

    <select id="selectById" resultType="com.aofei.sys.entity.RepositoryDatabase">
        select
        <include refid="Base_Column_List"/>
        from KDI_SYS_REPOSITORY_DATABASE a
        <include refid="Base_Joins"/>
        where  a.REPOSITORY_CONNECTION_ID = #{id} and a.DEL_FLAG = 0
    </select>

    <select id="findByConnectionName" resultType="com.aofei.sys.entity.RepositoryDatabase">
        select
        <include refid="Base_Column_List"/>
        from KDI_SYS_REPOSITORY_DATABASE a
        <include refid="Base_Joins"/>
        where  a.REPOSITORY_CONNECTION_NAME = #{connectionName} and a.DEL_FLAG = 0
    </select>

    <insert id="insert">
        insert into KDI_SYS_REPOSITORY_DATABASE (
              REPOSITORY_CONNECTION_ID
            , REPOSITORY_CONNECTION_NAME
            , DATABASE_TYPE
            , DATABASE_CONTYPE
            , HOST_NAME
            , DATABASE_NAME
            , PORT
            , USERNAME
            , PASSWORD
            , SERVERNAME
            , DATA_TBS
            , INDEX_TBS
            , CREATE_USER_ID
            , UPDATE_USER_ID
            , CREATE_TIME
            , UPDATE_TIME
            , DEL_FLAG
        )values(
              #{repositoryConnectionId}
            , #{repositoryConnectionName}
            , #{databaseType}
            , #{databaseContype}
            , #{hostName}
            , #{databaseName}
            , #{port}
            , #{username}
            , #{password}
            , #{servername}
            , #{dataTbs}
            , #{indexTbs}
            , #{createUserId}
            , #{updateUserId}
            , #{createTime}
            , #{updateTime}
            , #{delFlag}
        )
    </insert>



</mapper>
