<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.sys.mapper.RepositoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aofei.sys.entity.Repository">
        <id column="REPOSITORY_ID" property="repositoryId" />
        <result column="REPOSITORY_CONNECTION_ID" property="repositoryConnectionId" />
        <result column="REPOSITORY_NAME" property="repositoryName" />
        <result column="IS_DEFAULT" property="isDefault" />
        <result column="CREATE_USER_ID" property="createUserId" />
        <result column="UPDATE_USER_ID" property="updateUserId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="DEL_FLAG" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.REPOSITORY_ID AS repositoryId
        , a.REPOSITORY_CONNECTION_ID AS repositoryConnectionId
        , a.REPOSITORY_NAME AS repositoryName
        , a.IS_DEFAULT AS isDefault
        , a.CREATE_USER_ID AS createUserId
        , a.UPDATE_USER_ID AS updateUserId
        , a.CREATE_TIME AS createTime
        , a.UPDATE_TIME AS updateTime
        , a.DEL_FLAG AS delFlag
        , rd.REPOSITORY_CONNECTION_NAME AS repositoryConnectionName
        , rd.HOST_NAME AS hostName
        , rd.HOST_NAME AS hostName
    </sql>

    <sql id="Base_Joins">
        LEFT JOIN KDI_SYS_REPOSITORY_DATABASE rd ON rd.REPOSITORY_CONNECTION_ID = a.REPOSITORY_CONNECTION_ID
    </sql>



    <select id="findByRepositoryName" resultType="com.aofei.sys.entity.Repository">
        select
        <include refid="Base_Column_List"/>
        from KDI_SYS_REPOSITORY a
        <include refid="Base_Joins"/>
        where  a.REPOSITORY_NAME = #{repositoryName} and a.DEL_FLAG = 0
    </select>

    <select id="selectById" resultType="com.aofei.sys.entity.Repository">
        select
        <include refid="Base_Column_List"/>
        from KDI_SYS_REPOSITORY a
        <include refid="Base_Joins"/>
        where  a.REPOSITORY_ID = #{id} and a.DEL_FLAG = 0
    </select>


    <select id="findList"  resultType="com.aofei.sys.entity.User">
        select
        <include refid="Base_Column_List"/>
        from KDI_SYS_REPOSITORY a
        <include refid="Base_Joins"/>
        <where>
            a.DEL_FLAG = 0
            <if test="repositoryId !=null ">
                and  a.REPOSITORY_ID  = #{repositoryId}
            </if>
            <if test="repositoryName !=null and repositoryName != '' ">
                and  a.REPOSITORY_NAME  like '%${repositoryName}%'
            </if>
        </where>
    </select>

    <update id="cancelAllDefault">
        update KDI_SYS_REPOSITORY set IS_DEFAULT = 0;
    </update>
</mapper>
