<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.sys.mapper.RepositoryDatabaseMapper">


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.ID_REPOSITORY_CONNECTION AS repositoryConnectionId
        , a.REPOSITORY_CONNECTION_NAME AS repositoryConnectionName
        , a.DATABASE_TYPE AS databaseType
        , a.DATABASE_CONTYPE AS databaseContype
        , a.HOST_NAME AS hostName
        , a.DATABASE_NAME AS databaseName
        , a.PORT AS port
        , a.USERNAME AS username
        , a.PASSWORD AS password
        , a.SERVERNAME AS servername
        , a.DATA_TBS AS dataTbs
        , a.INDEX_TBS AS indexTbs
        , a.CREATE_USER AS createUser
        , a.UPDATE_USER AS updateUser
        , a.CREATE_TIME AS createTime
        , a.UPDATE_TIME AS updateTime
        , a.DEL_FLAG AS delFlag
    </sql>
    <sql id="Base_Joins">

    </sql>

    <select id="findList"  resultType="com.aofei.sys.entity.RepositoryDatabase">
        select
        <include refid="Base_Column_List"/>
        from SYS_REPOSITORY_DATABASE a
        <include refid="Base_Joins"/>
        <where>
            a.DEL_FLAG = 0
            <if test="databaseType !=null and  databaseType!='' ">
                AND  a.DATABASE_TYPE  = #{databaseType}
            </if>
            <if test="databaseContype !=null and databaseContype != '' ">
                AND  a.DATABASE_CONTYPE = #{databaseContype}
            </if>
        </where>
    </select>

    <select id="selectById" resultType="com.aofei.sys.entity.RepositoryDatabase">
        select
        <include refid="Base_Column_List"/>
        from SYS_REPOSITORY_DATABASE a
        <include refid="Base_Joins"/>
        where  a.ID_REPOSITORY_CONNECTION = #{id} and a.DEL_FLAG = 0
    </select>

    <select id="findByConnectionName" resultType="com.aofei.sys.entity.RepositoryDatabase">
        select
        <include refid="Base_Column_List"/>
        from SYS_REPOSITORY_DATABASE a
        <include refid="Base_Joins"/>
        where  a.REPOSITORY_CONNECTION_NAME = #{connectionName} and a.DEL_FLAG = 0
    </select>

    <insert id="insert">
        insert into SYS_REPOSITORY_DATABASE (
              ID_REPOSITORY_CONNECTION
            , REPOSITORY_CONNECTION_NAME
            , DATABASE_TYPE
            , DATABASE_CONTYPE
            , HOST_NAME
            , DATABASE_NAME
            , PORT
            , USERNAME
            , PASSWORD
            , SERVERNAME
            , DATA_TBS
            , INDEX_TBS
            , CREATE_USER
            , UPDATE_USER
            , CREATE_TIME
            , UPDATE_TIME
            , DEL_FLAG
        )values(
              #{repositoryConnectionId}
            , #{repositoryConnectionName}
            , #{databaseType}
            , #{databaseContype}
            , #{hostName}
            , #{databaseName}
            , #{port}
            , #{username}
            , #{password}
            , #{servername}
            , #{dataTbs}
            , #{indexTbs}
            , #{createUser}
            , #{updateUser}
            , #{createTime}
            , #{updateTime}
            , #{delFlag}
        )
    </insert>



</mapper>
