<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.sys.mapper.RoleMapper">


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.ID_ROLE AS roleId
        , a.ROLE_NAME AS roleName
        , a.REMARK AS remark
        , a.ID_DEPT AS deptId
        , a.CREATE_USER AS createUser
        , a.UPDATE_USER AS updateUser
        , a.CREATE_TIME AS createTime
        , a.UPDATE_TIME AS updateTime
        , a.DEL_FLAG AS delFlag
        , dept.NAME AS deptName
    </sql>

    <sql id="Base_Joins">
       LEFT JOIN KDI_SYS_DEPT dept ON dept.ID_DEPT = a.ID_DEPT
    </sql>

    <select id="findList"  resultType="com.aofei.sys.entity.Role">
        select
        <include refid="Base_Column_List"/>
        from KDI_SYS_ROLE a
        <include refid="Base_Joins"/>
        <where>
            a.DEL_FLAG = 0
            <if test="deptId !=null ">
                AND  a.ID_DEPT  = #{deptId}
            </if>
            <if test="roleName !=null and roleName!=''">
                <bind name="pattern" value="'%' + _parameter.roleName + '%'" />
                AND  a.ROLE_NAME like #{pattern}
            </if>
        </where>
    </select>

    <select id="findRoleByUserId"  resultType="com.aofei.sys.entity.Role">
        select
        <include refid="Base_Column_List"/>
        from KDI_SYS_ROLE a
        <include refid="Base_Joins"/>
        left join KDI_SYS_USER_ROLE ur on ur.ID_ROLE= a.ID_ROLE
        left join KDI_SYS_USER u on ur.USER_ID = u.USER_ID
        where a.DEL_FLAG = 0 and u.USER_ID = #{userId}

    </select>

    <update id="deleteById">
        update KDI_SYS_ROLE a set a.DEL_FLAG = 1  where a.ID_ROLE = #{id}
    </update>
</mapper>
