<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.sys.mapper.SmsCountryMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aofei.sys.entity.SmsCountry">
        <result column="COUNTRY_CODE" property="countryCode" />
        <result column="COUNTRY_NAME" property="countryName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        COUNTRY_CODE AS countryCode, COUNTRY_NAME AS countryName
    </sql>

    <select id="findList"  resultType="com.aofei.sys.entity.SmsCountry">
        select
        <include refid="Base_Column_List"/>
        from SYS_SMS_COUNTRY a
    </select>

</mapper>
