<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.sys.mapper.UserMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aofei.sys.entity.User">
        <id column="C_USER_ID" property="userId" />
        <result column="C_USER_NAME" property="username" />
        <result column="C_PASSWORD" property="password" />
        <result column="C_NICK_NAME" property="nickName" />
        <result column="C_EMAIL" property="email" />
        <result column="C_MOBILEPHONE" property="mobilephone" />
        <result column="C_DESCRIPTION" property="description" />
        <result column="C_IS_SYSTEM_USER" property="isSystemUser" />
        <result column="C_ORGANIZER_ID" property="organizerId" />
        <result column="C_USER_STATUS" property="userStatus" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="DEL_FLAG" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.C_USER_ID AS userId
        , a.C_USER_NAME AS username
        , a.C_PASSWORD AS password
        , a.C_NICK_NAME AS nickName
        , a.C_EMAIL AS email
        , a.C_MOBILEPHONE AS mobilephone
        , a.C_DESCRIPTION AS description
        , a.C_IS_SYSTEM_USER AS isSystemUser
        , a.C_ORGANIZER_ID AS organizerId
        , b.ORGANIZER_NAME AS organizerName
        , a.C_USER_STATUS AS userStatus
        , a.LAST_LOGIN_TIME AS lastLoginTime
        , a.LAST_LOGIN_IP AS lastLoginIp
        , a.CREATE_USER AS createUser
        , a.UPDATE_USER AS updateUser
        , a.CREATE_TIME AS createTime
        , a.UPDATE_TIME AS updateTime
        , a.DEL_FLAG AS delFlag
    </sql>
    <sql id="Base_Joins">
        LEFT JOIN SYS_ORGANIZER b ON b.ORGANIZER_ID = a.C_ORGANIZER_ID
    </sql>


    <select id="findList"  resultType="com.aofei.sys.entity.User">
        select
        <include refid="Base_Column_List"/>
        from SYS_USER a
        <include refid="Base_Joins"/>
        <where>
            a.DEL_FLAG = 0
            <if test="deptId !=null ">
                AND  a.ID_DEPT  = #{deptId}
            </if>
        </where>
    </select>

    <select id="findByUsername" resultType="com.aofei.sys.entity.User">
        select
        <include refid="Base_Column_List"/>
        from SYS_USER a
        <include refid="Base_Joins"/>
        where  a.C_USER_NAME = #{username} and a.DEL_FLAG = 0
    </select>

    <select id="findUserByRoleCode"  resultType="com.aofei.sys.entity.User">
        select
        <include refid="Base_Column_List"/>
        from SYS_USER a
        <include refid="Base_Joins"/>
        join SYS_USER_ROLE ur on ur.C_USER_ID= a.C_USER_ID
        join SYS_ROLE r on ur.C_ROLE_ID = r.C_ROLE_ID
        where a.DEL_FLAG = 0 and r.C_ROLE_ID = #{roleId}
    </select>

    <select id="selectById" resultType="com.aofei.sys.entity.User">
        select
        <include refid="Base_Column_List"/>
        from SYS_USER a
        <include refid="Base_Joins"/>
        where  a.C_USER_ID = #{id} and a.DEL_FLAG = 0
    </select>



    <update id="updateLoginInfo">
        UPDATE SYS_USER SET
         LAST_LOGIN_IP = #{lastLoginIp},
        LAST_LOGIN_TIME = #{lastLoginTime}
        WHERE C_USER_ID = #{userId}
    </update>

    <update id="deleteById">
        update SYS_USER a set a.DEL_FLAG = 1  where a.C_USER_ID = #{id}
    </update>



</mapper>
