<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.sys.mapper.UserMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.ID_USER AS userId
        , a.USERNAME AS username
        , a.PASSWORD AS password
        , a.EMAIL AS email
        , a.MOBILE AS mobile
        , a.STATUS AS status
        , a.ID_DEPT AS deptId
        , a.CREATE_USER AS createUser
        , a.UPDATE_USER AS updateUser
        , a.CREATE_TIME AS createTime
        , a.UPDATE_TIME AS updateTime
        , a.DEL_FLAG AS delFlag
        , a.LOGIN_IP AS loginIp
        , a.LOGIN_TIME AS loginTime
        , dept.NAME AS deptName
    </sql>
    <sql id="Base_Joins">
        LEFT JOIN KDI_SYS_DEPT dept ON dept.ID_DEPT = a.ID_DEPT
    </sql>

    <insert id="insert">
        insert into KDI_SYS_USER (
              ID_USER
            , USERNAME
            , PASSWORD
            , EMAIL
            , MOBILE
            , STATUS
            , ID_DEPT
            , CREATE_USER
            , UPDATE_USER
            , CREATE_TIME
            , UPDATE_TIME
            , DEL_FLAG
        )values(
              #{userId}
            , #{username}
            , #{password}
            , #{email}
            , #{mobile}
            , #{status}
            , #{deptId}
            , #{createUser}
            , #{updateUser}
            , #{createTime}
            , #{updateTime}
            , #{delFlag}
        )
    </insert>

    <select id="findList"  resultType="com.aofei.sys.entity.User">
        select
        <include refid="Base_Column_List"/>
        from KDI_SYS_USER a
        <include refid="Base_Joins"/>
        <where>
            a.DEL_FLAG = 0
            <if test="deptId !=null ">
                AND  a.ID_DEPT  = #{deptId}
            </if>
        </where>
    </select>

    <select id="findByUsername" resultType="com.aofei.sys.entity.User">
        select
        <include refid="Base_Column_List"/>
        from KDI_SYS_USER a
        <include refid="Base_Joins"/>
        where  a.USERNAME = #{username} and a.DEL_FLAG = 0
    </select>

    <select id="findUserByRoleCode"  resultType="com.aofei.sys.entity.User">
        select
        <include refid="Base_Column_List"/>
        from KDI_SYS_USER a
        <include refid="Base_Joins"/>
        left join KDI_SYS_USER_ROLE ur on ur.ID_USER= a.ID_USER
        left join KDI_SYS_ROLE r on ur.ROLE_ID = r.ROLE_ID
        where a.DEL_FLAG = 0 and r.ROLE_ID = #{roleId}
    </select>

    <select id="selectById" resultType="com.aofei.sys.entity.User">
        select
        <include refid="Base_Column_List"/>
        from KDI_SYS_USER a
        <include refid="Base_Joins"/>
        where  a.ID_USER = #{id} and a.DEL_FLAG = 0
    </select>

    <update id="updateById">
        update KDI_SYS_USER a
        <set>
              a.ID_USER = #{userId}
            , a.USERNAME = #{username}
            , a.PASSWORD = #{password}
            , a.EMAIL = #{email}
            , a.MOBILE = #{mobile}
            , a.STATUS = #{status}
            , a.ID_DEPT = #{deptId}
            , a.UPDATE_USER = #{updateUser}
            , a.UPDATE_TIME = #{updateTime}
            , a.DEL_FLAG = #{delFlag}
        </set>
        where a.ID_USER = #{et.id}
    </update>

    <update id="updateLoginInfo">
        UPDATE KDI_SYS_USER SET
        LOGIN_IP = #{loginIp},
        LOGIN_TIME = #{loginTime}
        WHERE ID_USER = #{userId}
    </update>

    <update id="deleteById">
        update KDI_SYS_USER a set a.DEL_FLAG = 1  where a.ID_USER = #{id}
    </update>



</mapper>
