<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.datasource.mapper.DatabaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aofei.datasource.entity.Database">
        <id column="ID_DATABASE" property="databaseId" />
        <result column="NAME" property="name" />
        <result column="ID_DATABASE_TYPE" property="idDatabaseType" />
        <result column="ID_DATABASE_CONTYPE" property="idDatabaseContype" />
        <result column="HOST_NAME" property="hostName" />
        <result column="DATABASE_NAME" property="databaseName" />
        <result column="PORT" property="port" />
        <result column="USERNAME" property="username" />
        <result column="PASSWORD" property="password" />
        <result column="SERVERNAME" property="servername" />
        <result column="DATA_TBS" property="dataTbs" />
        <result column="INDEX_TBS" property="indexTbs" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID_DATABASE AS databaseId, NAME AS name, ID_DATABASE_TYPE AS idDatabaseType, ID_DATABASE_CONTYPE AS idDatabaseContype, HOST_NAME AS hostName, DATABASE_NAME AS databaseName, PORT AS port, USERNAME AS username, PASSWORD AS password, SERVERNAME AS servername, DATA_TBS AS dataTbs, INDEX_TBS AS indexTbs
    </sql>



</mapper>
