<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.datasource.mapper.HadoopMapper">



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.ID AS id
        , a.SERVER AS server
        , a.PORT AS port
        , a.USERID AS userid
        , a.PASSWORD AS password
        , a.ORGANIZER_ID AS organizerId
        , a.CREATE_USER AS createUser
        , a.UPDATE_USER AS updateUser
        , a.CREATE_TIME AS createTime
        , a.UPDATE_TIME AS updateTime
        , a.DEL_FLAG AS delFlag
    </sql>

    <select id="findList"  resultType="com.aofei.datasource.entity.Hadoop">
        select
        <include refid="Base_Column_List"/>
        from DATASOURCE_HADOOP a
        <where>
            a.DEL_FLAG = 0
        </where>
    </select>

    <update id="deleteById">
        update DATASOURCE_HADOOP a set a.DEL_FLAG = 1  where a.MENU_ID = #{id}
    </update>
</mapper>
